* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: black;
  background-color: rgb(153, 153, 153);
  height: 100%;
  text-align: center;
}

.top {
  height: 25vh;
  padding-top: 20px;
  background-color: rgb(82, 93, 104);
}

.middle {
  height: 21vh;
  font-family: monospace;
  font-size: 145px;
  margin-top: 75px;
  margin-left: 35px;
  margin-right: 35px;
  border: solid 10px black;
  border-bottom: solid 7.5px black;
  padding-top: 5px;
  background-color: rgb(51, 51, 51);
  color: rgb(209, 209, 209);
}

.last {
  height: 15vh;
  font-size: 35px;
  margin-right: 60px;
  margin-left: 60px;
  padding-top: 19px;
  border: solid 7.5px black;
  border-top: none;
  background-color: rgb(51, 51, 51);
}

h1 {
  font-size: 100px;
}

.p1 {
  font-size: 40px;
  margin-top: 2px;
}

.seconds {
  position: relative;
  left: 70px;
}

.tens {
  position: relative;
  right: 70px;
}

button {
  width: 200px;
  height: 100px;
  font-family: serif;
  font-size: 35px;
  margin-left: 25px;
  color: rgb(212, 212, 212);
  border: solid 1.5px grey;
  background-color: black;
  cursor: pointer;
  transition: all 0.1s;
}

button:hover {
  outline: none;
  background-color: grey;
}
